html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightslategray;
}
h1 {
  font-size: 50px;
}
#new-task-form {
  display: flex;
}

#new-task-input {
  background-color: lightgrey;
  width: 300px;
  height: auto;
  font-size: 40px;
  border-radius: 8px;
  border: none;
  flex: 1 1 0%;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
}
#new-task-submit {
  background-color: lightslategray;
  border: none;
  font-size: larger;
  cursor: pointer;
}
h2 {
  font-size: 30px;
}
.text {
  background-color: lightgrey;
  width: auto;
  height: auto;
  font-size: 25px;
  border-radius: 8px;
  border: none;
}
.delete {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
.edit {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
